.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #fff;
}

.images {
  width: 60px;
  height: 60px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.flame {
  width: 600px;
  height: 760px;
  background-color: #c6c6c6;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  height: 540px;
  margin-top: 190px;
  margin-left: 30px;
  background-color: white;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
}
